.title {
	
}

.row {
	background-color: color.blue;
}

.card {
	width: 45%;
	background-color: whitesmoke;
	float: left;
	padding: 10;
	margin: 10;
}

.game-icon {
	width: 50%;
	height: 25%;
	padding-left: 25%
}